<menu>
	<itens>
		<item>
			<hierarchy>SysTI::Gerenciar Ativos::Ativos</hierarchy>
			<url>/admin/systi/ativo/</url>
			<permissions>
				<permission>rh.eh_servidor</permission>
			</permissions>
		</item>

		<item>
			<hierarchy>SysTI::Gerenciar Ativos::Adicionar nova Categoria</hierarchy>
			<url>/admin/systi/categoria/</url>
			<permissions>
				<permission>rh.eh_servidor</permission>
			</permissions>
		</item>

		<item>
			<hierarchy>SysTI::Fornecedores</hierarchy>
			<url>/admin/systi/fornecedor/</url>
			<permissions>
				<permission>rh.eh_servidor</permission>
			</permissions>
		</item>

		<item>
			<hierarchy>SysTI::Acessos Biometricos</hierarchy>
			<url>/admin/systi/acessobiometrico/</url>
			<permissions>
				<permission>rh.eh_servidor</permission>
			</permissions>
		</item>

		<item>
			<hierarchy>SysTI::Transferencias</hierarchy>
			<url>/admin/systi/transferencia/</url>
			<permissions>
				<permission>rh.eh_servidor</permission>
			</permissions>
		</item>

		<item>
			<hierarchy>SysTI::Materiais</hierarchy>
			<url>/admin/systi/material/</url>
			<permissions>
				<permission>rh.eh_servidor</permission>
			</permissions>
		</item>


	</itens>
</menu>
