*˜
*~
*.swp
*.pyc
.svn
.DS_Store
.DS_Store?
._*
settings.py
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.project
.pydevproject
.settings/*
comum/fixtures/test.json
upload/*
.idea/*
deploy/logs/gunicorn/gunicorn*
deploy/logs/nginx/access*
deploy/logs/nginx/error*
deploy/logs/supervisor/err*
deploy/logs/supervisor/out*
deploy/gunicorn_start.sh
deploy/sessions/sessionid*
deploy/static/*
deploy/media/*
docs/tecnica/.build/*
docs/tecnica/.static/*
docs/usuarios/.build/*
docs/usuarios/.static/*
htmlcov/
docs/usuario/.build/*
docs/usuario/.static/*
.coverage
.ropeproject/
financeiro/arquivos/*
progressoes/*.wpr
progressoes/*.wpu
rh/tests/arquivos_siape_novo/*
ae/
almoxarifado/
arquivo/
atividades_docente/
authdev/
bolsas/
centralservicos/
chat/
chaves/
clipping/
cnpq/
compras/
comum/
contracheques/
contratos/
convenios/
cpa/
cursos/
deploy/
djtools/
docs/
edu/
eleicao/
enquete/
estacionamento/
estudo_de_caso_suap/
expedicao/
ferias/
financeiro/
frota/
gestao/gitlab/
idap_backend/
materiais/
microsoft/
multiupload/
multiuploader/
orcamento/
patrimonio/
pdi/
pedagogia/
planejamento/
ponto/
portaria/
processo_seletivo/
professor_titular/
progressoes/
projetos/
protocolo/
ps/
relatorios/
remanejamento/
ressarcimento/
restapi/
rh/
rsc/
sad/
saml2idp/
saude/
suap/
temp_eleicaodce/
tempo_eleicaodiretor/
temp_enquete_cnat/
temp_enquete_rh/
temp_ideias/
temp_rh/
temp_rh2/
temp_rh3/
tests/
util/
temp_eleicaodiretor/

gestao/
gitlab/
ldap_backend/
manage.py
run_db_to_ramfs.py

.gitlab-ci.yml
Django
Dockerfile
Dockerfile.tests
fabfile.py
suap_doctor.sql





.idea/workspace.xml

