{% extends super_template %}
{% load filters %}

{% load static %}

{% block content %}


<form class="pure-form pure-form-aligned" method="post">
    {% csrf_token %}

    <fieldset>
        <h2>Adicionar Ativo</h2>
        
        {% for field in ativoForm %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary"> Próximo</button>
        </div>
    </fieldset>
    <div>
        <ul class="action-bar">
                <li>
                    <a class="btn success" href="">Próximo</a>
                </li>
        </ul>
    </div>
</form>





{% endblock %}