{% extends super_template %}
{% load filters %}

{% load static %}

{% block extrahead %}
    <script>jQuery.getScript('/static/edu/js/tabs.js');</script>
{% endblock %}

{% block content %}

<div class="tab" data-title="Material">

    <div>
        <h2>
         Material {{material.nome_material}}
        </h2>
    </div>


    <ul class="action-bar">
        <a class="btn primary" href="/admin/systi/material/{{ material.pk }}">Editar</a>
        <a class="btn danger" href="/admin/systi/material/{{ material.pk }}/delete/"> Remover </a>
    </ul>

{% box 'Dados do Material' %}

<table class="info">
    <tbody>
        <tr>
            <td>Nome</td>
            <td> {{material.nome_material}}</td>
                <td>Fornecido por </td>
                <td>{{material.fornecedor.nome}}</td>
        </tr>

        <tr>
            <td>Descrição</td>
            <td>{{material.descricao}}</td>
                <td>Guardado em </td>
                <td>{{material.local_guardado.codigo_compartimento}}</td>
        </tr>

        <tr>
            <td>Tipo do Material</td>
            <td>{{material.tipo_material}}</td>
                <td>Data de Cadastro</td>
                <td>{{material.data_registro}}</td>
        </tr>

        <tr>
            <td>Unidade de Medida</td>
            <td>{{material.unidade_de_medida}}</td>

            <td>Situção do Estoque</td>

                {% if material.estoque_minimo == material.quantidade %}
                    <td>
                        <span class="status-alert">Estoque Mínimo</span>
                    </td>
                {% elif material.estoque_minimo > material.quantidade %}
                    <td>
                        <span class="status-baixado">Quantidade Abaixo do Indicado</span>
                    </td>
                {% else %}
                    <td>
                        <span class="status-aceito">Quantidade Aceitável</span>
                    </td>
                {% endif %}
        </tr>

        <tr>
            <td>Quantidade</td>
            {% if material.quantidade == None %}
                <td>0</td>
            {% else %}
                <td>{{material.quantidade}}</td>
            {% endif %}
            <td>Estoque Mínimo</td>
            {% if material.estoque_minimo == None %}
                <td>0</td>
            {% else %}
                <td>{{material.estoque_minimo}}</td>
            {% endif %}
        </tr>

    </tbody>
</table>

{% box 'Dados do Fornecedor' %}

<table class="info">
    <tbody>
        <tr>
            <td>Nome</td>
            <td>{{fornecedor.nome}}</td>
            <td>Contato</td>
            <td>{{fornecedor.telefone1}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
        {% if fornecedor.tipo == 'Pessoa Física' %}
                <td>CPF</td>
                <td>{{fornecedor.cpf}}</td>
        {% else %}
                <td>CNPJ</td>
                <td>{{fornecedor.cnpj}}</td>
        {% endif %}
                <td>E-Mail</td>
                <td>{{fornecedor.email}}</td>
        </tr>
    </tbody>

</table>

{% endbox %}
{% endbox %}

</div>

<div class="tab" data-title="Entradas">

    <div class="msg info">
        <strong>Atenção:</strong> Todas as entradas de Materiais devem ser registradas a quantidade e deve-se adicionar opcinalmente uma observação(Descrição breve).
    </div>



<form class="pure-form pure-form-aligned" method="post">
    {% csrf_token %}

    <fieldset>
        {% for field in entrada_form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

    </fieldset>

    <div>
        <ul class="action-bar">

            <li>

                <input class="btn success" type="submit" value="Adicionar" href="/systi/teste1/{{material.id}}/" >

            </li>

        </ul>
    </div>


</form>


    {% box 'Histórico de Entradas' %}

{% if entradasCadastradas != None %}

        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <th>Usuário</th>
                     <th>Data e Hora</th>
                    <th>Quantidade</th>
                </tr>
            </thead>

        {% for entrada in entradasCadastradas%}
            {% if entrada.material.id == material.id %}
                <tbody>
                    <tr>
                        <td>{{ entrada.id }}</td>
                        <td>{{ entrada.usuario }}</td>
                        <td>{{ entrada.data_registro  }}</td>
                        <td>{{ entrada.quantidade }}</td>
                    </tr>
                </tbody>
            {% endif %}
    {% endfor %}
            </table>

{% endif %}


{% endbox %}

{% endblock %}