{% extends super_template %}
{% load filters %}


{% block content %}

<div>
    <h2>
         Serviço Nº {{servicos_interno.id}}
    </h2>
</div>

{% box 'Dados do Serviço' %}

<table class="info">
    <tbody>
        <tr>
            <td>Data do Diagnóstico</td>
            <td> {{servicos_interno.data_diagnostico}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Diagnóstico</td>
            <td> {{servicos_interno.diagnostico}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Defeitos Apresentados</td>
            <td> {{servicos_interno.defeitos_apresentados}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Tipo Serviço</td>
            <td> {{servicos_interno.tipo_servico}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Estado do Serviço</td>
            <td> {{servicos_interno.estado_servico}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Ordem do Serviço</td>
            <td> {{servicos_interno.ordem_servico}}</td>
        </tr>
    </tbody>

</table>

{% box 'Materiais e Chamado' %}

<table class="info">
    <tbody>
        <tr>
            <td>Materiais a Serem Utilizados</td>
        </tr>
    </tbody>

</table>

{% endbox %}

{% box 'Dados da Conclusão' %}

<table class="info">
    <tbody>
        <tr>
            <td>Data da Realização do Serviço</td>
            <td> {{servicos_interno.data_realizacao}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Data Prevista da Conclusão</td>
            <td> {{servicos_interno.data_prevista_conclusao}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Data da Conclusão</td>
            <td> {{servicos_interno.data_conclusao}}</td>
        </tr>
    </tbody>

</table>

{% endbox %}
{% endbox %}
{% endblock %}
