{% extends super_template %}
{% load filters %}


{% block content %}

<div>
    <h2>
         Serviço Nº {{servico_externo.id}}
    </h2>
</div>

<div>
    <ul class="action-bar">

        {% if servico_externo.data_devolucao == None %}
            <li>
                <a class="btn primary" href="/admin/systi/servicoexterno/{{ servico_externo.pk }}">Editar</a>
            </li>

            {% if servico_externo.data_do_envio == None %}
                <li>
                    <a class="btn warning" href="/systi/servicoexterno/iniciarservicoexterno/{{ servico_externo.pk }}">Iniciar Serviço</a>
                </li>

            {% else %}
                <li>
                    <a class="btn success" href="/systi/servicoexterno/registrardevolucao/{{ servico_externo.pk }}">Registrar Devolução</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>

{% box 'Dados do Serviço Prestados por Terceiros' %}

    <table class="info">
        <tbody>
            <tr>
                <td>Motivo do Serviço</td>
                <td> {{ servico_externo.motivo_cancel_ou_suspen }} </td>
            </tr>

            <tr>
                {% if servico_interno.motivo_cancel_ou_suspen == 'Chamado' %}
                    <td>Chamado</td>
                    <td> {{ servico_interno.chamado }}</td>

                {% else %}
                    <td>
                        <a title="Visualizar" href="{{ MEDIA_URL }}{{ servico_externo.anexo_motivo }}"
                       class="icon icon-search" target="_blank"></a>
                    </td>
                    <td>Anexo do Motivo</td>
                {% endif %}
            </tr>

            <tr>
                <td>Data do Diagnostico</td>
                <td>{{ servico_externo.data_diagnostico }}</td>
            </tr>

            <tr>
                <td>Diagnostico</td>
                <td>{{ servico_externo.diagnostico }}</td>
            </tr>

            <tr>
                <td>Tipo do Serviço</td>
                <td> {{ servico_externo.tipo_servico }}</td>
            </tr>

            <tr>
                <td>Estado do Serviço</td>
                <td> {{ servico_externo.estado_servico }}</td>
            </tr>

            <tr>
                <td>Oredem do Serviço</td>
                <td> {{ servico_externo.ordem_servico }}</td>
            </tr>
            <tr>
                <td>Data de início do Serviço</td>
                <td>
                    {% if servico_externo.data_do_envio == None %}
                        <span class="msg info">Aguardando</span>
                    {% else %}
                        {{ servico_externo.data_do_envio }}
                    {% endif %}

                </td>
            </tr>

            <tr>
                <td>Data de Devolução</td>
                <td>
                    {% if servico_externo.data_devolucao == None %}
                        <span class="msg info">Aguardando</span>
                    {% else %}
                        {{ servico_externo.data_devolucao }}
                    {% endif %}
                </td>
            </tr>
    </table>
{% endbox %}


{% box 'Equipamentos' %}
    {% for equip in equipamento%}
        <table>
            <thead>
                <tr>
                    <th>Nome do Equipamento</th>
                     <th>Numero do Tombamento</th>
                    <th>Local de Origem</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ equip.nome }}</td>
                    <td>{{ equip.tombamento }}</td>
                    <td>{{ equip.local_do_ativo }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endbox %}


{% box 'Dados Adicionais' %}

<table class="info">
    <tbody>
        <tr>
            <td>Data do Envio</td>
            <td> {{servico_externo.data_do_envio}}</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Data Prevista de Devolução</td>
            <td> {{servico_externo.data_prevista_devolucao}}</td>
        </tr>
    </tbody>

</table>

{% endbox %}
{% endblock %}
