{% extends super_template %}
{% load filters %}


{% block content %}
<div>
    <h2>
         Transferencia nº  {{ transferencia.id }}
    </h2>
</div>

<div>
    <ul class="action-bar">
        {% if transferencia.data_transferencia == None or transferencia.data_transferencia == ''%}
            <li>
                <a class="btn primary" href="/admin/systi/transferencia/{{ transferencia.pk }}">Editar</a>
            </li>
            {% if transferencia.data_altorizada  == None or transferencia.data_altorizada  == ''%}
                <li>
                    <a class="btn warning" href="/systi/transferencia/altorizar/{{ transferencia.pk }}">Altorizar Transferencia</a>
                </li>
            {% else %}
                <li>
                    <a class="btn success" href="/systi/transferencia/transferir/{{ transferencia.pk }}">Registrar como Transferidos</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>

{% box 'Motivo da Transferencia'%}
    <table class="info">
        <tbody>
            <tr>
                <td>Motivo da Transferencia</td>
                <td> {{ transferencia.motivo_transferencia }}</td>
            </tr>
            <tr>
                <td>
                    <a title="Visualizar" href="{{ MEDIA_URL }}{{ transferencia.anexo_motivo }}"
                       class="icon icon-search" target="_blank"></a>
                </td>
                <td>Anexo do Motivo</td>
            </tr>
            <tr>
                <td>Descrição</td>
                <td> {{ transferencia.descricao }}</td>
            </tr>
        </tbody>
    </table>
{% endbox %}

{% box 'Ativos Transferidos' %}
 <table class="info">
     <thead>
        <tr>
            <th>Ativo</th>
            {% if transferencia.data_transferencia == None %}
                <th>Local onde se Encontra</th>
                <th>Local de Destino</th>
            {% else %}
                <th>Local para onde foi</th>
            {% endif %}
        </tr>
     </thead>
     <tbody>
        {% for ativo in ativos%}
            <tr>
                <td>{{ ativo.nome}}</td>
                {% if transferencia.data_transferencia == None %}
                    <td>{{ ativo.local_do_ativo}}</td>
                    <td> {{ transferencia.setor_destino}}</td>
                {% else %}
                    <td> {{ transferencia.setor_destino}}</td>
                {% endif %}
            </tr>
        {% endfor %}
     </tbody>
 </table>
{% endbox %}


{% box 'Dados da Transferencia' %}
    <table class="info">
        <tbody>
            <tr>
                <td>
                    <a title="Visualizar" href="{{ MEDIA_URL }}{{ transferencia.termo_recebimento }}"
                       class="icon icon-search" target="_blank"></a>
                </td>
                <td>
                     Anexo Termo de recebimento
                </td>
            </tr>
            <tr>
                <td>Data da Solicitação</td>
                <td> {{ transferencia.data_solicitacao }} </td>
            </tr>
            <tr>
                <td>Altorizada</td>
                <td> {{ transferencia.altorizada }} </td>

                <td>Data que foi Altorizada</td>
                <td>
                    {% if transferencia.data_altorizada  == None or transferencia.data_altorizada  == ''%}
                        <span class="msg info">Aguardando</span>
                    {% else %}
                        {{ transferencia.data_altorizada  }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Transferidos</td>
                <td> {{ transferencia.transferida }} </td>

                <td>Data que foi feito a Transferencia</td>
                <td>
                    {% if transferencia.data_transferencia == None or transferencia.data_transferencia == ''%}
                        <span class="msg info">Aguardando</span>
                    {% else %}
                        {{ transferencia.data_transferencia }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endbox %}


{% endblock %}